---
layout: default
title: Server TLS Certificates
permalink: /certificates/
---

<div class="section-header" id="features-section">
    <center>
       <span class="fa fa-certificate" style="font-size:100px;" aria-hidden="true"></span>
       <h2>Servers TLS Certificates</h2>
    </center>
</div>

<hr class="my-4">

<p style="max-width:800px;text-align:center;margin:0 auto;">One of the benefits of communicating via XMPP is the level of security involved.  This server uses <a href="">DNSSEC</a> and TLS <a href="">Certificate Pinning</a>, to secure its users identity and privacy from outside observers.</p>

<p style="max-width:800px;text-align:center;margin:0 auto;">As an added layer of security, a user can validate the servers they are connecting to, below is the current fingerprints for each domain name.</p>

<hr class="my-4">

<div id="cert-table">
<h2>{{ site.xmpp-url }}</h2>
<p><small>(expires: {{ site.fingerprint-expires }})</small></p>
{% if site.fingerprint-sha1 %}
  <div class="cert-title">
    <b>SHA1 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-sha1 }}</pre>
  </div>
{% endif %}
{% if site.fingerprint-sha256 %}
  <div class="cert-title">
    <b>SHA256 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-sha256 }}</pre>
  </div>
{% endif %}
  <hr class="my-4">
{% if site.xmpp-host %}
<h2>{{ site.xmpp-host }}</h2>
<p><small>(expires: {{ site.fingerprint-im-expires }})</small></p>
{% if site.xmpp-host and site.fingerprint-im-sha1 %}
  <div class="cert-title">
    <b>SHA1 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-im-sha1 }}</pre>
  </div>
{% endif %}
{% if site.xmpp-host and site.fingerprint-im-sha256 %}
  <div class="cert-title">
    <b>SHA256 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-im-sha256 }}</pre>
  </div>
{% endif %}
  <hr class="my-4">
{% endif %}
{% if site.xmpp-conference-url and site.xep-0045 == 1 %}
<h2>{{ site.xmpp-conference-url }}</h2>
<p><small>(expires: {{ site.fingerprint-conference-expires }})</small></p>
{% if site.xmpp-conference-url and site.xep-0045 == 1 and site.fingerprint-conference-sha1 %}
  <div class="cert-title">
    <b>SHA1 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-conference-sha1 }}</pre>
  </div>
{% endif %}
{% if site.xmpp-conference-url and site.xep-0045 == 1 and site.fingerprint-conference-sha256 %}
  <div class="cert-title">
    <b>SHA256 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-conference-sha256 }}</pre>
  </div>
{% endif %}
  <hr class="my-4">
{% endif %}
{% if site.xmpp-proxy-url and site.xep-0065 == 1 %}
<h2>{{ site.xmpp-proxy-url }}</h2>
<p><small>(expires: {{ site.fingerprint-proxy-expires }})</small></p>
{% if site.xmpp-proxy-url and site.xep-0065 == 1 and site.fingerprint-proxy-sha1 %}
  <div class="cert-title">
    <b>SHA1 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-proxy-sha1 }}</pre>
  </div>
{% endif %}
{% if site.xmpp-proxy-url and site.xep-0065 == 1 and site.fingerprint-proxy-sha256 %}
  <div class="cert-title">
    <b>SHA256 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-proxy-sha256 }}</pre>
  </div>
{% endif %}
  <hr class="my-4">
{% endif %}
{% if site.xmpp-upload-url and site.xep-0363 == 1 %}
<h2>{{ site.xmpp-upload-url }}</h2>
<p><small>(expires: {{ site.fingerprint-upload-expires }})</small></p>
{% if site.xmpp-upload-url and site.xep-0363 == 1 and site.fingerprint-upload-sha1 %}
  <div class="cert-title">
    <b>SHA1 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-upload-sha1 }}</pre>
  </div>
{% endif %}
{% if site.xmpp-upload-url and site.xep-0363 == 1 and site.fingerprint-upload-sha256 %}
  <div class="cert-title">
    <b>SHA256 Fingerprint</b>
  </div>
  <div class="cert-content">
    <pre>{{ site.fingerprint-upload-sha256 }}</pre>
  </div>
{% endif %}
{% endif %}
</div> <!-- Closing cert-table id div -->

<p style='text-align:right;'><a href="https://check.messaging.one/result.php?domain={{ site.xmpp-url }}&amp;type=server"><img src="https://check.messaging.one/badge.php?domain={{ site.xmpp-url }}" alt="check.messaging.one server score" /></a></p>

