---
layout: default
title: Creating a New Account
permalink: /new-user-guide/
---

<div id="creating-account" class="container">
    <div class="row justify-content">

        <!-- Starting the Top Jubotron of the page -->
        <div class="jumbotron">
            <h1 class="display-4">New User Guide</h1>
            <p class="lead">This page is here to help a new user, register an account, download the needed software, and log into the server.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead float-xs-right">
                <a class="btn btn-primary btn-lg" href="#download" role="button">Get Started</a>
            </p>
        </div>
        <!-- Ending the Top Jubotron of the page -->

        <!-- Starting the page index nav menu -->
        <div class="col-3" style="padding-left:0;">
            <nav id="navbar-main" class="sticky-top navbar navbar-light" style="padding-top:80px;padding-left:0;margin-top:-80px;">
                <a class="navbar-brand" href="#">Index</a>
                <nav id="nav-body" class="nav nav-pills flex-column bg-light">
                    <a class="nav-link" href="#overview">Overview</a>
                    <a class="nav-link" href="#download">Download a Client</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#mobile">Mobile</a>
                        <a class="nav-link ml-3 my-1" href="#desktop">Desktop</a>
                    </nav>
                    <a class="nav-link" href="#register">Register an Account</a>
                    <a class="nav-link" href="#connect">Connect your Account</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                        <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                    </nav>
                </nav>
            </nav>
        </div>
        <!-- Ending the page index nav menu -->

        <!-- Starting the content section of the page -->
        <div class="col-9">
            <!-- This is the Overview Section -->
            <div id="overview" class="section-headder">
                <center><h1>Overview</h1></center>
            </div>
            
            <p>It may look like there are a bunch of steps to get all setup, but it is really pretty easy and quick to do.</p>
            
            <p></p>
            
            <!-- This is the Download a Client Section -->
            <div id="download" class="section-headder">
                <center><h1>Step 1: Download a Client</h1></center>
            </div>
            
            {% include guide-download.html %}
            
            <!-- This is the Register an Account Section -->
            <div id="register" class="section-headder">
                <center><h1>Step 2: Choose a XMPP Server and Register an Account</h1></center>
            </div>
            
            {% include guide-register.html %}
            
            <!-- This is the Connect your Client Section -->
            <div id="connect" class="section-headder">
                <center><h1>Step 3: Connect your Client to you New Account</h1></center>
            </div>
        </div>
        <!-- Ending the content section of the page -->
    </div> <!-- Closing the row justify-content clases -->
</div> <!-- Closing the ID creating-account and the main container class
