---
layout: welcome
title: Home
permalink: /
---

<div id="home">

<!-- Opening Site Jumbo Tron -->

<div id="index-jobotron" class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ site.url }}/assets/img/xmpp_logo.png" width="233px;" height="240px;">
            </div>
            <div class="col-md-8 float-md-right site-title">
                <h1>XMPP Communication Service</h1>
            </div>
        </div>
    </div>
</div>

<!-- Opening Section -->

<div id="opening" class="container offsetanchor">
    <div class="row">
        <div id="opening-text" class="col-lg-7 col-md-6">
            <p>This is the <strong>{{ site.name }}</strong> communication service website.  This site is here to provide basic
            information on using this service.  A <a href="{{ site.url }}/help/definitions/#xmpp-server">XMPP</a>
            service provides messaging ability via a local client.  XMPP sites like this service are
            <a href="{{ site.url }}/help/definitions/#federation">federated</a>, meaning they are able to connect
            to diffrent XMPP servers on diffrent domains, similer to how email allows you to send messages to users on other
            domains/servers.  This service is in complete compliance with
            <a href="https://xmpp.org/extensions/xep-0375.html">XEP-0375</a>. The XEP-0375 document specifies the 2016
            compliance levels for XMPP clients and servers.</p>

            <p>XMPP is an open standard for communication, mainly used for instant messaging. It is a secure battle-tested
            protocol developed by an independent standards organization.</p>

            <p>This service requires the use of a client to connect to the server with.  Please see the
            <a href="{{ site.url }}/help/clients/">client list</a> for a small list of available clients that
            may be used.  My personal preferred clients are <a href="https://gajim.org/">Gajim</a> or
            <a href="https://swift.im/">Swift</a> for desktop/laptops and <a href="https://conversations.im/">Conversations</a>
            or <a href="https://chatsecure.org/">ChatSecure</a> for mobile.</p>
        </div>

        <div id="opening-side" class="col-lg-5 col-md-6 col-sm-8 col-12 float-center">
            <h1>Connecting...</h1>
            <ul>
                <li>Port: <b>5222</b></li>
                <li>Domain: <b>{{ site.xmpp-url }}</b></li>
                <li>Server Name: <b>{{ site.xmpp-host }}</b></li>{% if site.xmpp-conference-url and site.xep-0045 == 1 %}
                <li>Rooms: <b>{{ site.xmpp-conference-url }}</b></li>{% endif %}{% if site.xmpp-proxy-url and site.xep-0065 == 1 %}
                <li>Socks 5 Proxy: <b>{{ site.xmpp-proxy-url }}</b></li>{% endif %}{% if site.xmpp-upload-url and site.xep-0363 == 1 %}
                <li>File Uploads: <b>{{ site.xmpp-upload-url }}</b></li>{% endif %}
            </ul>
            <div style="padding-left:40px;"><a href="https://check.messaging.one/result.php?domain={{ site.xmpp-url }}&amp;type=server" target="_blank"><img src="https://check.messaging.one/badge.php?domain={{ site.xmpp-url }}" alt="check.messaging.one server score"/></a></div>
        </div>
    </div>
</div>

</div>
<!-- Register Form -->

{% if site.register-web == 2 %}
<div id="register" class="index-section">
    <div id="feature-register">
        <div id="feature-register" class="container offsetanchor">
            {% include registration.html %}
        </div>
    </div>
</div>
{% endif %}


<div id="server-features" class="container-fluid">
    <div class="row justify-content">
        <!-- Starting the page index nav menu -->
        <div id="server-features-index" class="col-2">
            <nav id="navbar-main" class="sticky-top navbar navbar-light" style="padding-top:50px;margin-top:-50px;">
                <nav id="nav-body" class="nav nav-pills flex-column bg-light">
                    <nav class="nav nav-pills flex-column">
                        <a id="features-index" class="nav-link ml-3 my-1" href="#features" style="line-height:50px;text-align:center;font-size:1.3rem;"><b>Server Features</b></a>
                    </nav>
                    {% for section in site.data.sections %}
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#{{ section.slug }}">{{ section.name }}</a>
                    </nav>
                    {% endfor %}
                </nav>
            </nav>
        </div>
        <!-- Ending the page index nav menu -->

        <!-- Starting the content section of the page -->
        <div id="server-features-content" class="col-10" style="padding-right:unset;">
           <div id="features" class="index-section feature-section" style="min-height:400px;margin-left:-23%;padding-left:23%;background-color: rgba(0, 0, 0, 0.1);">
               <div class="container offsetanchor">
                   <div class="section-header" id="features-section">
                       <center>
                           <span class="fa fa-cogs" style="font-size:100px;" aria-hidden="true"></span>
                           <h2>Server Features</h2>
                       </center>
                   </div>
                   <div id="feature-heading-content">
                       <p>XMPP (<i>previous known as jabber</i>) is an <b>instant messaging</b> system that is <b>free</b>, <b>standard</b>,
                       and <b>open</b>; allowing you to chat live with your family, friends and professional contacts, and be warned of
                       the <b>presence</b> of your contacts, while keeping your <b>independence</b> vis-à vis-à-vis your software and
                       service providers.</p>
                   </div>
               </div>
           </div>

            <!--  Site Features -->
            {% for section in site.data.sections %}
            <div id="{{ section.slug }}" class="index-section feature-section" style="background-color:#{{ section.color }};margin-left:-23%;padding-left:23%;">
               <div class="container offsetanchor">
                   <div class="section-header" id="feature-{{ section.slug }}">
                       <center>
                           <span class="{{ section.glyph }}" style="font-size:100px;" aria-hidden="true"></span>
                           <h2>{{ section.name }}</h2>
                       </center>
                   </div>
                   <div class="feature-{{ section.slug }}">
                       <div class="row">
                           <p>{{ section.text }}</p>
                           {% for feature in site.data.features %}
                           {% if feature.section == section.slug %}
                           <div class="{% if section.col == 3 %}col-md-4 col-sm-6{% else %}col-6{% endif %}" style="min-height:280px;">
                               <h3>{{ feature.name }}</h3>
                                   <p>{{ feature.text }}</p>
                           </div>
                           {% endif %}
                           {% endfor %}
                       </div>
                   </div>
               </div>
            </div>
            {% endfor %}
        </div>
        <!-- Ending the content section of the page -->

    </div> <!-- Closing the row justify-content clases -->
</div> <!-- Closing the ID creating-account and the main container class -->

<!-- About Section -->

<div id="about" class="index-section" style="background-color:#eee;padding-bottom:80px;">
    {% include about.html %}
</div>
