    <div id="feature-about" style="">
        <div class="container offsetanchor">
                <div class="section-header"><center><span class="fas fa-info-circle" style="font-size:80px;" aria-hidden="true"></span><h1>About</h1></center></div>
                <div class="col-md-5 float-right">
                    <h2>Contact Information</h2>
		    <p>{% if site.owner-name %}This site is maintained by Matt Rude{% if site.owner-pgpkey %} (<a href="https://mattrude.com/keys/{{ site.owner-pgpkey }}.asc" target="_blank">{{ site.owner-pgpkey }}</a>){% endif %}. {% endif %}If you would like to report any problems or bugs, please send a email or XMPP messsage to the email address listed in one of my public keys.</p>
                    <ul class="contact-list">
                        {% if site.owner-xmpp %}<li class="list-inline"><b><a href="xmpp:{{ site.owner-xmpp }}" title="XMPP/Jabber ID"><i class="fas fa-comment"></i></a></b></li>{% endif %}
            {% if site.owner-email %}<li class="list-inline"><b><a href="mailto:{{ site.owner-email }}" title="Email Address"><i class="far fa-envelope"></i></a></b></li>{% endif %}
            {% if site.owner-twitter %}<li class="list-inline"><b><a href="https://www.twitter.com/{{ site.owner-twitter }}" title="Twitter Profile Page" target="_blank"><i class="fab fa-twitter"></i></a></b></li>{% endif %}
            {% if site.owner-github %}<li class="list-inline"><b><a href="https://github.com/{{ site.owner-github }}" title="Github Profile Page" target="_blank"><i class="fab fa-github"></i></a></b></li>{% endif %}
                        {% if site.owner-url %}<li class="list-inline"><b><a href=" {{ site.owner-url }}" title="Website" target="_blank"><i class="fas fa-link"></i></a></b></li>{% endif %}
                        {% if site.owner-pgpkey %}<li class="list-inline"><b><a href="https://mattrude.com/keys/{{ site.owner-pgpkey }}.asc" title="PGP Public Key" target="_blank"><i class="fas fa-key"></i></a></b></li>{% endif %}
                    </ul>
                    <p><small>See my <a href="https://mattrude.com/contact.txt" target="_blank">contact.txt</a> file for my <a href="https://conversations.im/omemo/" target="_blank">omemo</a> keys.</small></p>
                    <hr />
                    <p style="text-align:center;">
                        <!-- IPv6-test.com button BEGIN -->
                        <a href='http://ipv6-test.com/validate.php?url={{ site.url }}' target="_blank"><img src='{{ site.url }}/assets/img/button-ipv6-small.png' alt='ipv6 ready' title='ipv6 ready' border='0' /></a>
                        <!-- IPv6-test.com button END -->
                    </p>
                </div>
                <div class="col-md-7">
                    <h2 id="this-service">This Service</h2>
                    <p>This service is running a clustered configuration, of two servers, running <a href="https://www.ejabberd.im/" target="_blank">ejabberd</a>
                        version <a href="https://github.com/processone/ejabberd/commits/{{ site.ejabberd-gitversion }}" target="_blank">{{ site.ejabberd-version }}</a> on 
                        <a href="http://www.ubuntu.com/" target="_blank">Ubuntu</a> version {{ site.system-version }}.
                        The source code for ejabberd may be found on github in the
                        <a href="https://github.com/processone/ejabberd" target="_blank">processone/ejabberd</a> repository.
                        The program ejabberd is licensed under the
                        <a href="https://github.com/processone/ejabberd/blob/master/COPYING" target="_blank">GNU General Public License, version 2.0</a>.</p>

                    <h2 id="site-source-locations" target="_blank">Website Source</h2>
                    <p>The source for this website may be found in the github repository <a href="https://github.com/mattrude/xmpp-site-lite" target="_blank">xmpp-site-lite</a>.
                        The site is licensed under the 
                        <a href="https://github.com/mattrude/xmpp-site-lite/blob/master/LICENSE" target="_blank">GNU General Public License, version 3.0</a>,
                       and may be used or modified under the terms of that license.</p>
                </div>
        </div>
    </div>
