    <div id="feature-about" style="">
        <div class="container offsetanchor">
                <div class="section-headder"><center><span class="fa fa-info-circle" style="font-size:80px;" aria-hidden="true"></span><h1>About</h1></center></div>
                <div class="col-md-5 pull-right">
                    <h2>Contact Information</h2>
                    <p>This site is maintained by Matt Rude (<a href="https://keyserver.mattrude.com/d/0xc4909ee495b0761f">0xc4909ee495b0761f</a>). If you would like to report any problems or bugs, please send a email or XMPP messsage to the email address listed in one of my public keys.</p>
                    <p>You may also see my profile on <a href="https://keybase.io/mattrude">keybase.io/mattrude</a>.</p>
                    <ul class="contact-list">
                        <li class="list-inline"><b><a href="mailto:matt@mattrude.com" title="Email Address"><i class="fa fa-envelope"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://www.twitter.com/mdrude" title="Twitter Profile Page"><i class="fa fa-twitter-square"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://www.facebook.com/mattrude" title="Facebook Profile Page"><i class="fa fa-facebook-official"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://www.instagram.com//mattdrude" title="Instagram Profile Page"><i class="fa fa-instagram"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://github.com/mattrude" title="Github Profile Page"><i class="fa fa-github"></i></a></b></li>
                        <li class="list-inline"><b><a href="xmpp:matt@mattrude.com" title="XMPP/Jabber ID"><i class="fa fa-commenting"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://mattrude.com" title="Website"><i class="fa fa-link"></i></a></b></li>
                        <li class="list-inline"><b><a href="https://keyserver.mattrude.com/search/vindex/hash/fingerprint/0xc4909ee495b0761f" title="PGP Public Key"><i class="fa fa-key"></i></a></b></li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h2 id="this-service">This Service</h2>
                    <p>This server provides instant messaging service, via the XMPP protocol, to users with an account on this domain. An XMPP server provides
                        basic messaging, presence, and XML routing features.</p>
                    <p>This site is running <a href="https://prosody.im">prosody</a> version 0.10 on <a href="http://www.ubuntu.com/">Ubuntu</a> version 16.04 LTS..
                        The source for prosody may be found at <a href="https://hg.prosody.im/">hg.prosody.im</a>. The program prosody is licensed under the
                        <a href="https://prosody.im/source/mit">MIT/X11 license</a>.</p>

                    <h2 id="site-source-locations">Site Source Locations</h2>
                    <p>The source for this website may be found in the github repository <a href="https://github.com/mattrude/xmpp-site-lite">xmpp-site-lite</a>.
                        The site is licensed under the 
                        <a href="https://github.com/mattrude/xmpp-site-lite/blob/master/LICENSE">GNU General Public License, version 3 (GPLv3)</a>,
                       and may be used or modified under the terms of that license.</p>
                </div>
        </div>
    </div>
