<footer class="footer">
  <div class="container offsetanchor" id="features">
    <div id="footer"><!-- Starting Footer Section -->
      <div id="footer-links" class="text-center">
	      <p><a href="https://status.im.mattrude.com/{{ site.xmpp-url }}">Status</a> | <a href="{{ site.url }}/certificates/">Certificates</a> | <a href="{{ site.url }}/privacy-policy/">Privacy Policy</a></p>
      </div>
      <div id="footer-copy" class="text-center">
        <p>&copy; {{ site.time | date: "%Y" }} by <a href="{{ site.owner-url }}">{{ site.owner-name }}</a></p>
      </div>
    </div><!-- Closing Footer Section -->
  </div><!-- Closing Menu Section (from header) -->
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% if page.url == "/files/register_web/register.html" %}
<script src="{{ site.url }}/assets/js/validator.js"></script>{% endif %}{% if page.url == "/" and site.register-web >= 1 %}
<script src="{{ site.url }}/assets/js/validator.js"></script>{% endif %}
</html>
