<footer class="footer">
  <div class="container offsetanchor" id="features">
    <div id="footer"><!-- Starting Footer Section -->
      <div class="pull-left">
        <p><a href="https://status.im.mattrude.com/{{ site.xmpp-url }}">Status</a> | <a href="{{ site.url }}/certificates/">Certificates</a></p>
      </div>
      <div class="pull-right">
        <p>&copy; {{ site.time | date: "%Y" }} by <a href="https://mattrude.com">{{ site.owner_name }}</a></p>
      </div>
    </div><!-- Closing Footer Section -->
  </div><!-- Closing Menu Section (from header) -->
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>{% if page.url == "/files/register_web/register.html" %}
<script src="{{ site.url }}/assets/js/validator.js"></script>{% endif %}{% if page.url == "/" and site.register-web >= 1 %}
<script src="{{ site.url }}/assets/js/validator.js"></script>{% endif %}
</html>
