<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Register an Account on This Server
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
                <div class="row">
                    <div class="card" style="border-color:#9FCF6C;margin-left:25px;">
                        <div class="panel-heading" style="background-color:#9FCF6C;border-color:transparent;color:rgb(52, 68, 35);">
                            <div class="panel-title"><center><h4>Registration Form</h4></center></div>
                        </div>
                        <div class="panel-body" style="margin-bottom: 15px;">
                            <form action="{{ site.url }}/register/" method="post" class="form-horizontal needs-validation" style="padding: 15px;" novalidate>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="username" placeholder="Username" id="username" required />
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="font-size:0.8em;font-weight:bold;">@{hostname}</span>
                                        </div>
                                        <div class="invalid-feedback" style="width: 100%;">Your username is required.</div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password" id="password" required />
                                    </div>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" id="confirm-password" required />
                                    </div>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" placeholder="E-Mail" id="email" required />
                                        <div class="invalid-feedback" style="width: 100%;">Your email address is required.</div>
                                    </div>
                                </div>
                                <div style="margin-bottom:25px;margin:0 auto;" class="input-group test">
                                    {captcha}
                                </div>
                                <div style="margin-top:15px;margin-bottom:0;" class="form-group">
                                    <div class="col-sm-12 controls">
                                        <input type="submit" value="Register" class="btn btn-success pull-right" />
                                        <input type="reset" value="Clear" class="btn btn-default pull-right" style="margin-right:15px" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
    </div>
  </div>




  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Register an Account on Another Server
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">


<table class='table' style='width:100%'>
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Registration Method</th>
            <th><center>Website<br />Language</center></th>
            <th><center>Service<br />Price</center></th>
            <th><a href='https://xmpp.org/extensions/xep-0375.html'>XEP-0375</a> complient</th>
            <th><a href='https://xmpp.org/extensions/xep-0368.html'>XEP-0368</a> complient</th>
        </tr>
   </thead>
   <tbody>
{% for service in site.data.clients-compliance %}
        <tr>
            <td style="min-width:150px;"><a href='{{ service.url }}'>{{ service.name }}</a></td>
            <td style="min-width:100px;">{% if service.registration-url %}<a href="{{ service.registration-url }}">{{ service.registration }}</a>{% elsif service.registration %}{{ service.registration}}{% else %}<i>Unknown</i>{% endif %}</td>
            <td><center>{{ service.language }}</center></td>
            <td><center>{% if service.price %}{{ service.price }}{% else %}Free{% endif %}<center></td>
            {% if service.xep-375 == 1 %}<td class=PASSED style="width:75px;"><center>Yes</center></td>{% else %}<td class=FAILED><center>No</center></td>{% endif %}
            {% if service.xep-368 == 1 %}<td class=PASSED style="width:75px;"><center>Yes</center></td>{% else %}<td class=FAILED><center>No</center></td>{% endif %}
        </tr>
{%  endfor %}
    </tbody>
</table>



      </div>
    </div>
  </div>
