        {% for type in site.data.clienttypes %}
        <div id="{{ type.slug }}">
            <center><h2 style="padding:60px 0;font-size:3em;">{{ type.name }}</h2></center>
            <div class="client-{{ type.slug }}">
                <div class="row">
                    {% for client in site.data.clients %}
                    {% if client.type == type.slug %}
                    <div class="col-md-6">
                        <div class="card">
                            {% if client.img %}
                            <img class="card-img-top" src="{{ site.url }}/assets/img/clients/{{ client.img }}"/>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ client.name }}</h3>
                                <ul class="list-group-flush card-text" style="padding-left:unset;">
                                    <li class="list-group-item"><b>Platform:</b> {{ client.platform }}</li>
                                    <li class="list-group-item"><b>Encryption:</b> {{ client.encryption }}</li>
                                    <li class="list-group-item"><b>Website:</b> <a href="{{ client.url }}">{{ client.domain }}</a></li>
                                    {% if client.text %}<li class="list-group-item">{{ client.text }}</li>{% endif %}
                                </ul>
                            </div><!-- end class card-body -->
                        </div><!-- end class card -->
                    </div><!-- end class col-md-4 -->
                    {% endif %}
                    {% endfor %}
                </div><!-- end class row -->
            </div><!-- end class client-{{ type.slug }} -->
        </div>
        {% endfor %}
