      <nav id="navbar-main" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ site.url }}">XMPP Communication Service</a>
        {% if site.register-web >= 1 %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">{% if page.url == "/" %}
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>{% if site.register-web == 2 %}
            <li class="nav-item"><a class="nav-link" href="#register">Register</a></li>{% endif %}
            <li class="nav-item"><a class="nav-link" href="#server-features">Server Features</a></li>
                <nav class="nav nav-pills flex-column" style="display:none;">
                    <a id="server-features-index-a"class="nav-link ml-3 my-1" href="#features"><b>Server Features</b></a>
                    {% for section in site.data.sections %}
                    <a class="nav-link ml-3 my-1" href="#{{ section.slug }}">{{ section.name }}</a>
                    {% endfor %}
                </nav>{% if site.user-guide == 1 %}
            <li class="nav-item"><a class="nav-link" href="#nug-opening">User Guide</a></li>
                <nav class="nav nav-pills flex-column" style="display:none;">
                    {% for sectionnug in site.data.nug-sections %}
                    <a class="nav-link ml-3 my-1" href="#{{ sectionnug.slug }}">{{ sectionnug.name }}</a>
                    {% endfor %}
                </nav>{% endif %}
            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          </ul>{% endif %}
          {% if site.register-web >= 1 %}
          <a href="/register" class="btn btn-success">Register</a>
          {% endif %}
        </div>
      </nav>
