<div id="nug" class="container-fluid">
    <div class="row justify-content">
        <!-- Starting the content section of the page -->
        <div id="nug-content" class="col-sm-10">
            <div id="nug-opening" class="feature-section" style="background-color: rgba(0, 0, 0, 0.1);">
                <div class="container offsetanchor">
                    <div class="section-header" id="features-section">
                        <center>
                            <span class="fa fa-user"aria-hidden="true"></span>
                            <h2>New User Guide</h2>
                        </center>
                    </div>
                    <div id="feature-heading-content">
                        <hr class="my-4">
                        <p>This guide hopes to walk new users threw setting up and using XMPP.</p>
                        <p>XMPP is not the simpliest why of chating, but its not difficalt to use either, once you have a server, it no harder then any other modern chat system.</p>
                        <blockquote class="blockquote">
                            <p class="mb-0"></p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!--  Site Features -->
            {% for section in site.data.nug-sections %}
            <div id="{{ section.slug }}" class="index-section nug-feature-section" style="background-color:#{{ section.color }};">
               <div class="container offsetanchor">
                   <div id="nug-{{ section.slug }}" class="section-header">
                       <center>
                           <span class="{{ section.glyph }}" style="font-size:100px;" aria-hidden="true"></span>
                           <h2>{{ section.name }}</h2>
                       </center>
                   </div>
                   <div class="feature-{{ section.slug }}">
                       <div class="row">
                           <p>{{ section.text }}</p>
                           {% include {{ section.file }} %}
                       </div>
                   </div>
               </div>
            </div>
            {% endfor %}
        </div>
        <!-- Ending the content section of the page -->

        <!-- Starting the page index nav menu -->
        <div id="nug-index" class="col-2 hidden-sm-down">
            <nav id="navbar-main" class="sticky-top navbar navbar-light" style="padding-top:50px;margin-top:-50px;">
                <nav id="nug-nav-body" class="nav nav-pills flex-column">
                    <a id="features-index" href="#nug-opening" style="color:#000;line-height:50px;text-align:center;font-size:1.3rem;"><b>User Guide</b></a>
                    <nav class="nav nav-pills flex-column nav-item align-middle">
                    {% for section in site.data.nug-sections %}
                        <a class="nav-link ml-3 my-1" href="#{{ section.slug }}"><span id="nug-index-span">{{ section.name }}</span></a>
                    {% endfor %}
                    </nav>
                </nav>
            </nav>
        </div>
        <!-- Ending the page index nav menu -->


    </div> <!-- Closing the row justify-content clases -->
</div> <!-- Closing the ID creating-account and the main container class -->
