<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width:400px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset your XMPP Account Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


		<form action="{{ site.url }}:5281/resetpass/" method="post" class="form-horizontal needs-validation" style="padding: 15px;" novalidate="">
				<p class="error"></p>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="username" placeholder="Username" id="username" required="">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="font-size:0.8em;font-weight:bold;">@{{ site.xmpp-url }}</span>
                                        </div>
                                        <div class="invalid-feedback" style="width: 100%;">Your username is required.</div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" placeholder="E-Mail" id="email" required="">
                                        <div class="invalid-feedback" style="width: 100%;">Your email address is required.</div>
                                    </div>
                                </div>



          	<p>After submitting, a link will be sent to the email address that appears on your vCard.</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="button" type="submit" class="btn btn-primary">Submit</button>
      </div>
          </form>
      </div>
    </div>
  </div>
</div>
