    <div class="container offsetanchor">
        <center>
            <i class="fa fa-lock" style="font-size:60px;" aria-hidden="true"></i>
            <h2>Privacy & Security</h2>
        </center>
        <div class="row">
            <div class="col-md-6" style="min-height:280px;">
                <h2>Security</h2>
                <ul>
                    <li>SSL/TLS encryption is <a href="https://github.com/stpeter/manifesto/blob/master/manifesto.txt">required</a>
                        between clients and servers (C2S) and server to server (S2S) connections</li>
                    <li>The backend is configured to store hashed and salted authentication data</li>
                    <li>Use <a href="https://conversations.im/omemo/">OMEMO</a> or
                        <a href="{{ site.url }}/help/definitions/#otr">Off-the-Record (OTR)</a>
                        in your chat client to have fully encrypted chats</li>
                </ul>
            </div>
            <div class="col-md-6" style="min-height:280px;">
                <h2 id="policies">Policies</h2>
                <p>No more information is collected and stored than what is absolutely necessary.
                This includes rosters, vCards, offline messages, etc.</p>
                <p>Spam and abuse including advertisements of any kind will not be tolerated on
                this network. For spam or abuse please contact us with the full details.</p>
                <p>Please see the <a href="{{ site.url }}/privacy-policy/">Privacy Policy</a> for
                a more detailed explanation.</p>
            </div>
        </div>
    </div>
