$site-color: #9FCF6C;
//$site-color: #c3950d;

html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
}

a {
  color: darken($site-color, 10%);
}

a:hover {
    color: darken($site-color, 30%);
    text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: darken($site-color, 10%);
    border-color: darken($site-color, 15%);
}

.btn-primary:hover {
    color: darken($site-color, 5%);
    background-color: darken($site-color, 25%);
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: adjust-color($site-color, $blue: 20);
    background-color: adjust-color($site-color, $blue: 10);
    border-color: transparent;
}

.btn-success {
    color: #fff;
    background-color: darken($site-color, 20%);
    border-color: darken($site-color, 25%);
}

.btn-success:hover {
    color: #fff;
    background-color: darken($site-color, 10%);
    border-color: darken($site-color, 15%);;
}

.btn-link {
    font-weight: 400;
    color: darken($site-color, 10%);
    background-color: transparent;
}

.btn-link:hover {
    color: darken($site-color, 30%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.wrapper {
  margin-bottom: 120px;
}

.jumbotron {
  background-color: adjust-color($site-color, $blue: 5);
}

#register-window {
  .card {
      margin-left: 25px;
      min-height: unset;
      margin-bottom: unset;
  }
  .panel-heading {
      background-color: $site-color;
      border-color: transparent;
      color: darken($site-color, 60%);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $site-color;
  a {
      color: #fff;
  }
  a:hover {
      color: darken($site-color, 40%);
      text-decoration: underline;
  }
}

.alert-warning {
    color: darken($site-color, 30%);
    background-color: lighten($site-color, 20%);
    border-color: lighten($site-color, 15%);
    a {
        color: darken($site-color, 45%);
    }
}

.index-section {
  padding: 100px 0 40px;
}

.index-section-last {
  padding: 100px 0 70px;
}

.list-inline {
  display: inline;
}

.site-title {
  text-align: right;
}

.site-title h1 {
  font-size: 4em;
}

.feature-section {
  padding-bottom: 40px;
}

#accordion {
  .card {
      min-height: unset;
      margin-bottom: unset;
      border-radius: unset;
      border: lighten($site-color, 25%);
  }
}

#creating-account {
    .jumbotron {
        background-color: lighten($site-color, 20%);
    }
    #nav-body {
        background-color: lighten($site-color, 20%)!important;
        a {
            color: darken($site-color, 15%);
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: lighten($site-color, 5%)!important;
        background-color: darken($site-color, 10%)!important;
    }
}

.card {
  min-height: 600px;
  margin-bottom: 25px;
}
.card-img-top {
  width: 100px;
  margin: 30px auto 0;
}

.card-header {
  background-color: lighten($site-color, 20%);
}

.contact-list {
  font-size:2em;
  text-align: center;
  padding: unset;
}

td.PASSED {
    background-color: green;
    color: white;
}
td.FAILED {
    background-color: red;
    color: white;
}

#definitions h2 {
    padding-top: 60px;
}

.nav-item a {
    padding: 0 10px;
    color: #fff;
}

@media (max-width: 990px) {
  .contact-list {
      font-size: 1.7em;
  }
  .client-mobile h4 {
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .pull-right, .pull-left {
      text-align: center;
  } 
  .site-title {
      display: none;
  }
  .client-mobile h4 {
      font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
