---
layout: default
title: Account Registration succeeded!
sitemap: false
permalink: /files/register_web/success.html
---

        <div class="panel panel-success">
            <div class="panel-heading"><center><h1>Registration Succeeded!</h1></center></div>
                <div class="panel-body">
                    <center><div class="alert alert-success" role="alert"><h2>Your new JID is <code>{jid}</code>.</h2></div></center>
                    <div class="row">
                        <div id="register-text" class="col-md-7">
                            <div class="row">
                                <p>You have successfully created a new XMPP/Jabber account in the domain {{ site.xmpp-url }}.  Your new JID is 
                                <code>{jid}</code>.</p>
                                <div class="client-mobile">
                                    <h3>Clients</h3>
                                    <p>Now that you have created an account, you must use a software client to login into the server.
                                        Below is a small list of clients you may use, but really any XMPP client can work.</p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <center><a href="https://conversations.im/" title="Conversations User Guide" target=”_blank”>
                                                <img src="{{ site.url }}/assets/img/clients/conversations_logo.png" height="80px" width="80px"></a></center>
                                            <center><h4>Conversations</h4></center>
                                        </div>
                                        <div class="col-md-3">
                                            <center><a href="https://swift.im/" title="Swift User Guide" target=”_blank”>
                                                <img src="{{ site.url }}/assets/img/clients/swift_logo.svg" height="80px" width="80px"></a></center>
                                            <center><h4>Swift</h4></center>
                                        </div>
                                        <div class="col-md-3">
                                            <center><a href="https://chatsecure.org/" title="Chatsecure User Guide" target=”_blank”>
                                                <img src="{{ site.url }}/assets/img/clients/chatsecure_logo.png" height="80px" width="80px"></a></center>
                                            <center><h4>ChatSecure</h4></center>
                                        </div>
                                        <div class="col-md-3">
                                            <center><a href="https://gajim.org/" title="Gajim User Guide" target=”_blank”>
                                                <img src="{{ site.url }}/assets/img/clients/gajim_logo.png" height="80px" width="80px"></a></center>
                                            <center><h4>Gajim</h4></center>
                                        </div>
                                    </div>
                                    <hr style="color:grey">
                               </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <h2>Connection Information</h2>
                            <ul>
                                <li><span title="Your Jabber ID, or simply put, your username">JID: <b>{jid}</b></span></li>
                                <li><span title="The port your client should use to connect to the server.">Port: <b>5222</b></span></li>
                                <li><span title="The domain your JID is connected to.">Domain: <b>{{ site.xmpp-url }}</b></span></li>
                                <li><span title="The name of the server your client should use to connect tot he server.">Server Name: <b>{{ site.xmpp-host }}</b></span></li>{% if site.xmpp-conference-url and site.xep-0045 == 1 %}
                                <li><span title="The domain name of the Conference Room service.">Rooms: <b>{{ site.xmpp-conference-url }}</b></span></li>{% endif %}{% if site.xmpp-proxy-url and site.xep-0065 == 1 %}
                                <li><span title="">Socks 5 Proxy: <b>{{ site.xmpp-proxy-url }}</b></span></li>{% endif %}{% if site.xmpp-upload-url and site.xep-0363 == 1 %}
                                <li><span title="">File Uploads: <b>{{ site.xmpp-upload-url }}</b></span></li>{% endif %}
                            </ul>
                            <div style="padding-left:40px;"><a href="https://check.messaging.one/result.php?domain={{ site.xmpp-url }}&amp;type=server" target="_blank"><img src="https://check.messaging.one/badge.php?domain={{ site.xmpp-url }}" alt="check.messaging.one server score"/></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
